@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.hidden {
  width: 0px !important;
  height: 0px !important;
}
.level-page {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.level-button, .page-button, .start-button {
  cursor: pointer;
  padding: 5px;
  background: #e1f5fe;
  font-size: 18px;
  width: 100px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  text-align: center;
}
.level-list, .page-list {
  list-style: none;
  padding: 0;
  width: 100px;
  transition: 0.1s;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  margin: 0;
}
.level-list {
  height: 204px;
}
.page-list {
  height: 340px;
}

.level-list li, .page-list li {
  cursor: pointer;
  padding: 5px;
  white-space: nowrap;
  font-size: 18px;
  background: #fff;
}
.level-list li:hover, .page-list li:hover{
  background: #e1f5fe;
}
.puzzle-wrapper {
  width: 1200px;
  margin: auto;
}
.canvas-item {
  margin-right: -12px;
}
.control-wrapper {
  text-align: center;
}
.clip-svg {
  -webkit-clip-path: polygon(calc(100% - 30px) 0, calc(100% - 30px) 40%, 100% 30%, 100% 70%, calc(100% - 30px) 60%, calc(100% - 30px) 100%, 0% 100%, 0 60%, 30px 70%, 30px 30%, 0 40%, 0% 0%);
  clip-path: polygon(calc(100% - 30px) 0, calc(100% - 30px) 40%, 100% 30%, 100% 70%, calc(100% - 30px) 60%, calc(100% - 30px) 100%, 0% 100%, 0 60%, 30px 70%, 30px 30%, 0 40%, 0% 0%);
}
