@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 40px;
  margin: -100px auto 40px;
  color: #6cffde;
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: 13px;
  font-weight: 300;
}
.intro,
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 20px);
  text-align: center;
  padding: 10px;
  transition: .5s;
  background-image: url(./app/assets/bg.png);
  background-size: cover;
}

.intro-btn {
  font-weight: 300;
}
.intro p {
  max-width: 600px;
  margin: 0 auto 60px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
  color: #fff;
  opacity: .8;
}
.hidden {
  /* opacity: 0;
  visibility: hidden;
  pointer-events: none; */
  display: none;
}
.results-container {
  width: 100%;
  max-width: 780px;
  min-height: 600px;
  padding: 40px 100px;
  text-align: left;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
  box-sizing: border-box;
}
.statsWord {
  flex-direction: row;
  min-height: 45px;
  border: 0;
  margin: 0;
  padding: 0 0 0 50px;
  box-shadow: none;
  cursor: pointer;
  background: url(./app/assets/audio.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-y: center;
  background-position-x: 15px;
}
.statsWord p {
  color: rgba(14, 30, 37, .7);
  font-size: 22px;
  padding: 5px 5px;
  margin: 0;
}
.statsWord p span {
  color: #0e1e25;
}
.errors span,
.success span {
  color: #fff;
  border-radius: 100%;
  padding: 3px;
  display: inline-block;
  width: 21px;
  height: 21px;
  text-align: center;
}
.success span {
  background-color: green;
}
.errors span {
  background-color: red;
}
.btn-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.btn-wrapper .btn {
  margin: 10px;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
}
.word-image {
  margin: 0 auto 25px;
  max-width: 390px;
  height: 260px;
  background-size: cover !important;
  width: 100%;
  background-position-x: center !important;
}
.word-translate {
  color: rgba(14, 30, 37, .7);
  text-align: center;
  min-height: 44px;
  margin-bottom: 20px;
  font-size: 22px;
  padding: 0px 5px;
}
.word-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  padding-left: 10px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 1.4;
  min-width: 200px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
  box-sizing: border-box;
  background: url(./app/assets/audio.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position-y: center;
  background-position-x: 8px;
}
.word-item p {
  margin: 0;
}
.items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.active-level {
  box-shadow: 0 0 0 2px #00c49d, inset 0 0 0 2px #ffffff, inset 0 0 0 3px #00c49d !important;
}
.levels-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}
.score {
  display: flex;
  flex-wrap: wrap;
}

.star {
  width: 40px;
  height: 40px;
  background-image: url(./app/assets/star.svg);
  background-size: 40px 40px;
}
.level-buttons {
  list-style: none;
  display: flex;
  padding: 15px 15px;
  margin: 0;
  justify-content: space-between;
}
.level-buttons li {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #00c49d;
  background: radial-gradient(#00c49d 0%, #00c49d 50%, #ffffff 50%, #ffffff 100%);
  margin-right: 10px;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  transition: .5s;
  box-sizing: border-box;
}
.level-buttons li:nth-child(1)::before {
  display: none;
}
.level-buttons li:before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 5px;
  background-color: #00c49d;
}
.btn {
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  min-width: 200px;
  color: #fff;
  background: #00c49d;
  border-radius: 4px;
  transition: .15s;
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
  cursor: pointer;
}
.btn:hover {
  background: #00c2b2;
}
.activeBtn{
  background: #009179;
  color: #fff;
  transition: .15s;
}
.control-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
}
.speak-button {
  width: 100%;
  margin: 0 20px;
  max-width: calc(100% - 600px);
}
.disable {
  display: none !important;
}
.word-field {
  display: block;
  border: 0;
  border-bottom: 1px solid rgb(206, 212, 218);
  background-color: transparent;
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 14px;
  width: 100%;
  max-width: 390px;
  height: 50px;
  font-size: 20px;
  line-height: 40px;
  color: rgba(14, 30, 37, .7);
  text-align: center;
  font-size: 22px;
  background-image: url(./app/assets/microphone.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 15px;
  box-sizing: border-box;
}
.active-word{
  border: 1px solid rgb(0, 173, 159);
  background-color: rgba(0, 173, 159, .15);
}

@media (max-width: 790px) {
  .btn {
    width: 100%;
    max-width: 100%;
    margin: 10px;
    box-sizing: border-box;
  }
  .items-wrapper {
    justify-content: space-around;
  }
  .results-container {
    padding: 10px;
  }
}
