* {
  box-sizing: border-box;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
}
.word-image {
  margin: 0 auto 25px;
  width: 390px;
  height: 260px;
  background-size: cover !important;
}
.word-translate {
  color: rgba(14, 30, 37, .7);
  text-align: center;
  min-height: 44px;
  margin-bottom: 20px;
  font-size: 22px;
  padding: 0px 5px;
}
.word-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
      padding-left: 10px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 1.4;
  min-width: 200px;
  min-height: 70px;
  margin: 10px 0;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
  box-sizing: border-box;
  background: url(./app/assets/audio.svg);
  background-repeat: no-repeat;
  background-size: 14%;
  background-position-y: center;
  background-position-x: 15px;
}
.word-item p {
  margin: 0;
}
.items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.active-level {
  box-shadow: 0 0 0 2px #00c49d, inset 0 0 0 2px #ffffff, inset 0 0 0 3px #00c49d !important;
}
.level-buttons {
  list-style: none;
  display: flex;
  padding: 15px 15px;
  margin: 0;
  justify-content: space-between;
}
.level-buttons li {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #00c49d;
  background: radial-gradient(#00c49d 0%, #00c49d 50%, #ffffff 50%, #ffffff 100%);
  margin-right: 10px;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  transition: .5s;
  box-sizing: border-box;
}
.level-buttons li:nth-child(1)::before {
  display: none;
}
.level-buttons li:before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 5px;
  background-color: #00c49d;
}
.btn {
  font-size: 24px;
  text-align: center;
  padding: 15px 25px;
  min-width: 200px;
  color: #fff;
  background: #00c49d;
  border-radius: 4px;
  transition: .15s;
  box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
  cursor: pointer;
}
.activeBtn{
  background: #009179;
  color: #fff;
  transition: .15s;
}
.control-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}
.speak-button {
  width: 100%;
  margin: 0 20px;
}
.disable {
  display: none !important;
}
.word-field {
  display: block;
  border: 0;
  border-bottom: 1px solid rgb(206, 212, 218);
  background-color: transparent;
  padding: 5px 20px;
  margin: 0 auto;
  margin-bottom: 14px;
  width: 100%;
  max-width: 390px;
  height: 50px;
  font-size: 20px;
  line-height: 40px;
  color: rgba(14, 30, 37, .7);
  text-align: center;
  font-size: 22px;
  background-image: url(./app/assets/microphone.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 10px 15px;
}
.correctWord{
  border: 1px solid rgb(0, 173, 159);
  background-color: rgba(0, 173, 159, .15);
}
