main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 100vh;
}
.word-image {
  margin: auto;
  width: 390px;
  height: 260px;
  background-size: cover;
}
.word-translate {
  color: rgba(14, 30, 37, .7);
  text-align: center;
  min-height: 44px;
  margin-bottom: 20px;
  font-size: 22px;
  padding: 0px 5px;
}
.word-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
      padding-left: 10px;
  padding-left: 40px;
  font-size: 24px;
  line-height: 1.4;
  min-width: 200px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 5px;
  background-color: #fff;
  transition: .3s;
  box-sizing: border-box;
}
.word-item p {
  margin: 0;
}
.items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.active-level {
  box-shadow: 0 0 0 2px #00c49d, inset 0 0 0 2px #ffffff, inset 0 0 0 3px #00c49d !important;
}
.level-buttons {
  list-style: none;
  display: flex;
  padding: 15px 15px;
  margin: 0;
  justify-content: space-between;
}
.level-buttons li {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin-top: -10px;
  border-radius: 50%;
  background-color: #00c49d;
  background: radial-gradient(#00c49d 0%, #00c49d 50%, #ffffff 50%, #ffffff 100%);
  margin-right: 10px;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  transition: .5s;
  box-sizing: border-box;
}
.level-buttons li:nth-child(1)::before {
  display: none;
}
.level-buttons li:before {
  content: "";
  width: 30px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 5px;
  background-color: #00c49d;
}
