.settings-form {
  width: 1200px;
  margin: auto;  
}
.message {
  opacity: 0;
  transition: .5s;
  height: 30px;
}
.showMessage {
  opacity: 1;
}
.error {
  color: red;
}
.success {
  color: green;
}