body,  main, div:not(.line):not(.dropdown), section {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 64px;
  background: #fbfcfe;
  color: black;
  font-size: 1rem;
  position: fixed;
  z-index: 100;
  top: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  background: #e9f5f7;
  color: white;
  text-align: center;
  height: 50px;
}

.tabs-row {
  display: flex;
  width: 800px;
  justify-content: space-around;
}

.tab--link {
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
}

.tab--link:hover {
  cursor: pointer;
  background: #1119;
}

.tab--button {
  margin: 0% 10%;
  width: 80%;
  min-width: 160px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  background: grey;
  color: rgb(241, 232, 232);
  border: 0;
  cursor: not-allowed;
}

.allowed {
  cursor: pointer;
  width: calc(80% - 2px);
  min-width: 160px;
  background: #fff;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 3px;
  color: #000;
}

.allowed.del-button {
  color: red;
}

.allowed.add-button {
  color: green;
}

.main {
  width: 100%;
  min-height: calc(100vh - 114px);
  margin: 64px 0 0 0;
}

.bg-green {
  background: rgb(212, 255, 212);
}

.bg-blue {
  background: rgba(212, 212, 255, 0.85);
}

.bg-red {
  background: rgba(255, 212, 212, 0.85);
}

.active-bg {
  background: #0000;
}

.none {
  display: none;
}

.active-row {
  background: rgb(32, 32, 32);
  color: #fff;
}

.addMoreButton{
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 1.8;
  border-radius: 10px;
  border: 1px solid black;
  color: #000;
  background: #fff;
  position: fixed;
  left: calc(50% - 76px);
  cursor: pointer;
  bottom: 50px;
}


@media (max-width: 800px) {
  main{
    font-size: 0.8rem;
  }
}
