@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*@import 'node_modules/dragula/dragula';*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
main {
  width: 1200px;
  margin: auto;
}
.game-wrapper {
  width: 70%;
}
.disable {
  display: none !important;
}
.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.option, .question {
  color: #fff;
  margin: 15px 2px;
  background: linear-gradient(#2b2269, #2c1e40);
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  min-height: 67px;
}
.active-answer {
  background: linear-gradient(#da7a14, #74440e);
}
.correct-answer {
  background: linear-gradient(#2f8625, #3a5b3a);
}
.question {
  padding: 20px 45px;
  clip-path: polygon(0 50%, 5% 0, 95% 0, 100% 50%, 95% 100%, 5% 100%);
}
.question:first-letter {
  text-transform: uppercase;
}
.option {
  cursor: pointer;
  min-width: calc(50% - 30px);
  padding: 20px;
  clip-path: polygon(0 50%, 10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%);
}
.new-game-btn {
  color: #fff;
  background: linear-gradient(#2b2269, #2c1e40);
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  width: 165px;
  margin: 30px auto;
  border-radius: 5px;
}
