@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/*@import 'node_modules/dragula/dragula';*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.hidden {
  width: 0px !important;
  height: 0px !important;
}
.level-page {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.level-button, .page-button, .start-button {
  cursor: pointer;
  padding: 5px;
  background: #e1f5fe;
  font-size: 18px;
  width: 100px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  text-align: center;
}
.level-list, .page-list {
  list-style: none;
  padding: 0;
  width: 100px;
  transition: 0.1s;
  overflow: hidden;
  position: absolute;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
  margin: 0;
  position: absolute;
  z-index: 1;
}
.level-list {
  height: 204px;
}
.page-list {
  height: 340px;
}

.level-list li, .page-list li {
  cursor: pointer;
  padding: 5px;
  white-space: nowrap;
  font-size: 18px;
  background: #fff;
}
.level-list li:hover, .page-list li:hover{
  background: #e1f5fe;
}
.puzzle-wrapper {
  width: 1200px;
  margin: auto;
  height: 600px;
  background-size: cover;
}
.canvas-item {
  margin-right: -12px;
}
.control-wrapper {
  text-align: center;
}
.clip-svg {
}
.canvas-helper {
  position: absolute;
  top: 40px;
  opacity: 0;
  z-index: -1;
  left: calc(50% - 600px);
}
.group-words {
  display: flex;
  margin-bottom: 1px;
}
.div-item {
  color: #fff;
  background: #a0a0ee;
  box-sizing: border-box;
  margin-left: -19px;
  text-align: center;
  line-height: 60px;
  -webkit-clip-path: polygon(calc(100% - 20px) 0, calc(100% - 20px) 40%, 100% 30%, 100% 70%, calc(100% - 20px) 60%, calc(100% - 20px) 100%, 0% 100%, 0 60%, 20px 70%, 20px 30%, 0 40%, 0% 0%);
  clip-path: polygon(calc(100% - 20px) 0, calc(100% - 20px) 40%, 100% 30%, 100% 70%, calc(100% - 20px) 60%, calc(100% - 20px) 100%, 0% 100%, 0 calc(60% + 1px), 20px calc(70% + 1px), 20px calc(30% - 1px), 0 calc(40% - 1px), 0% 0%);
}

.group-words .div-item:first-child,
.game-row .div-item:first-child {
  margin: 0;
  clip-path: polygon(0 0, 0% 100%, calc(100% - 20px) 100%, calc(100% - 20px) 60%, 100% 70%, 100% 30%, calc(100% - 20px) 40%, calc(100% - 20px) 0);
}
.group-words .div-item:last-child,
.game-row .div-item:last-child {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 calc(60% + 1px), 20px calc(70% + 1px), 20px calc(30% - 1px), 0 calc(40% - 1px));
}
.game-prepare {
  height: 61px;
  overflow: hidden;
}
.game-field {
  height: 600px;
}
.game-row {
  height: 61px;
  display: flex;
}
/*Dragula*/
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}