<!-- real DOM -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i&display=swap&subset=cyrillic"
    rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
  <title>fancy-weather by SvirskiA</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <div class="card_img"></div>
      <div class="card_phrase"></div>
      <div class="card_phrase-translate"></div>
      <div class="card_meaning"></div>
      <div class="card_meaning-translate"></div>
      <div class="card_word-translate"></div>
      <div class="card_word-transcription"></div>
    </div>
  </div>

</body>

</html>