body {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
    height: 100%;
    min-height: 100%;
    margin: 0;

}
.container {
  background-size: cover; 
  display: none;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
  transition: all 1s ease;
  background-image: url(images/background.png);
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 60px;
  color: #6cffde;
  opacity: .8;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 13px;
}

.description {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  height: 300px;
  text-align: center;
  right: 0;
  left: 0;
}

.text {
  max-width: 565px;
  margin: 0 auto 58px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
  opacity: .8;
}

.start-button {
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  padding: 19px 15px 21px;
  text-decoration: none!important;
  min-width: 160px;
  color: #fff!important;
  background: #00c49d;
  border-radius: 4px;
  transition: all .15s ease;
}

.close {
  width: 20px;
  height: 20px;
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTS02LTZoMzB2MzBILTZ6Ii8+CiAgICAgICAgPHBhdGggZmlsbD0iI0RFREVERSIgZD0iTTE3Ljc1IDIuMDEyTDE1Ljk4OC4yNSA5IDcuMjM4IDIuMDEyLjI1LjI1IDIuMDEyIDcuMjM4IDkgLjI1IDE1Ljk4OGwxLjc2MiAxLjc2Mkw5IDEwLjc2Mmw2Ljk4OCA2Ljk4OCAxLjc2Mi0xLjc2MkwxMC43NjIgOXoiLz4KICAgIDwvZz4KPC9zdmc+Cg==) no-repeat;
  cursor: pointer;
  padding-right: 30px;
}

.main-page {
  display:block;
  max-width: 1440px;
  margin: auto;
}

.game-page {
  max-width: 1440px;
  margin: auto;
  display:none;
  position: relative;
}

.final-page {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  max-width: 784px;
  min-height: 646px;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #e6e9ee;
  background-color: #fff;
  padding: 42px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
}

.failied-results {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  margin-top: 50px;
  text-transform: uppercase;
  color: red;
  text-align: start;
}

.success-results {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  margin-top: 30px;
  text-transform: uppercase;
  color: green;
  text-align: start;
}

.word-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.final-title {
  font-size: 34px;
  font-weight: 300;
  line-height: .85;
  color: #37383c;
}

.final-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 337px;
  width: 100%;
  max-width: 542px;
  margin-top: 0;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  padding-right: 12px;
  transition: .5s;
}

.result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
}

.statistic_word {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #2582e7;
  margin: 0 6px 0 15px;
  cursor: pointer;
}

.statictic_word-translate {
  font-size: 16px;
  line-height: 1.25;
  color: #37383c;
}

.tr {
 margin-right: 6px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(55,56,60,.12);
  margin-top: 18px;
}

.continue-button {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(37,130,231,.08);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: #2582e7;
  padding: 10px 42px;
  margin-top: 24px;
}

.word {
  position: fixed;
  left: 45%;
  top: 0;
  font-size: 48px;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
}

.answers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40vh 5vw;
  text-align: center;
}

.translation {
  display: inline-block;
  vertical-align: top;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  max-width: 270px;
  text-align: left;
  position: relative;
  padding: 20px 15px 20px 30px;
  color: #fff;
  transition: all .15s ease;
  border-radius: 2px;
  cursor: pointer;
  margin: 0 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.level-buttons {
  display: flex;
  list-style: none;
  justify-content: space-between;
  line-height: 10px;
}

.level-buttons li{
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 0 0 2px #ffffff;
  cursor: pointer;
  transition: all .15s ease;
  transition: .5s;
  box-sizing: border-box;
  color: white;
}

.active {
  background-color: #00c49d;
}

.fail {
  background-color: #ff2b007a;
}

.ready {
  display: none;
}

.ready-active {
  display: block;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  text-align: center;
  font-size: 4rem;
  color: #fff;
}

.icons-container {
  z-index: 1;
  height: 32px;
  display: flex;
  color: red;
  padding: 20px;
}

.results-container {
  width: 225px;
  z-index: 10;
  position: absolute;
  top: 0px;
  height: 32px;
  display: flex;
  padding: 20px;
  color: red;
}

.fail-icon{
  opacity: 0.2 !important;
}

.success-icon {
  color: red;
}




